@use '../../abstracts' as *;

.testimonials__section {
  --letter-spacing: -1px;
  @include display-flex($gap: 32px, $dir: column);
  padding-block: 100px;
  letter-spacing: var(--letter-spacing);

  .header {
    font-size: var(--fs-500);
    color: var(--pr-clr-300);
    font-weight: 800;
  }

  .testimonial__container {
    @include display-flex($gap: 32px, $y: flex-start);

    .testimonial__card {
      @include display-flex($gap: 10px, $dir: column, $y: flex-start);
      .testimonial__text {
        width: 327px;
        font-size: var(--fs-200);
        color: var(--ntrl-clr-300);
        line-height: 1.5em;
      }

      .testimonial__details {
        @include display-flex($gap: 10px);

        img {
          width: 2rem;
          height: 2rem;
          border-radius: 4rem;
          object-fit: cover;
        }

        .testimonial__name {
          @include display-flex($gap: 4px, $dir: column, $y: flex-start);

          .testimonial {
            font-size: var(--fs-200);
            color: var(--pr-clr-300);
            font-weight: 800;
          }

          .testimonial__branch {
            font-size: var(--fs-100);
            color: var(--ntrl-clr-300);
            font-weight: 600;
          }
        }
      }
    }
  }
}
