@use '../../abstracts' as *;

.pagination {
  --ff-inter: 'Inter', sans-serif;
  --charcoal-gray: hsl(0, 0%, 38%, 0.7);
  --transparent-gray: hsl(0, 0%, 38%, 0.1);

  width: 100%;
  @include display-flex($x: flex-start);
  flex-wrap: wrap;

  .container {
    @include display-flex();
    flex-wrap: wrap;
    align-self: flex-start;
    padding: 0.5rem 0.875rem;
    border-radius: 8rem;
    background-color: var(--ntrl-clr-100);

    .active-page {
      // font-weight: 600;
      color: var(--ntrl-clr-100) !important;
      text-decoration: none;
      border-radius: 5px;
      background-color: var(--pr-clr-350);
    }

    .button {
      @include display-flex();
      width: 4rem;
      height: 4rem;
      padding: 0.5rem 1rem;
      font-family: var(--ff-inter);
      color: var(--ntrl-clr-300);
      text-decoration: none;
      border-radius: 50%;

      &.icon {
        svg {
          path {
            stroke: var(--pr-clr-300);
          }
        }
      }
      &:hover:not(.active-page) {
        border: 1px solid var(--charcoal-gray);
        background-color: var(--transparent-gray);
      }
    }
  }
}
