@use '../../abstracts' as *;

.patients__container {
  --ff-inter: 'Inter', sans-serif;
  --tbl-border: 1px solid hsl(0, 0%, 38%, 0.2);
  --cancel-btn-clr: #ff6e5c;
  --charcoal-gray: hsl(0, 0%, 38%, 0.7);
  --transparent-gray: hsl(0, 0%, 38%, 0.1);
  --dropdown-bdr: 1px solid hsl(0, 0%, 38%, 0.3);

  width: 100%;
  @include display-flex($dir: column, $gap: 1.25rem, $y: flex-start);

  .patients__table {
    width: 100%;
    @include display-flex($dir: column, $gap: 1.25rem, $y: flex-start);
    color: var(--ntrl-clr-300);
    letter-spacing: -1px;
    padding: 1.5rem;
    border-radius: 1.25rem;
    background-color: var(--ntrl-clr-100);

    .table-heading__container {
      width: 100%;
      @include display-flex($x: space-between);

      .table-heading {
        @include display-flex($gap: 0.5rem);
        font-size: 1.5rem;
        font-family: var(--ff-inter);
        text-transform: uppercase;

        .table-item-count {
          @include display-flex();
          width: 1.25rem;
          height: 1.25rem;
          font-size: 0.875rem;
          color: var(--ntrl-clr-100);
          padding: 0.25rem;
          border-radius: 50%;
          background-color: var(--pr-clr-100);
        }
      }

      .search__container {
        width: 25rem;
        @include display-flex($x: space-between);
        padding: 0.75rem 1rem;
        border-radius: 2rem;
        background-color: #f8f8f8;
        outline: 1px solid hsl(0, 0%, 38%, 0.3);

        input {
          width: 100%;
          color: var(--ntrl-clr-300);

          &::placeholder {
            color: hsl(0, 0%, 38%, 0.5);
          }
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 0.875rem 0.75rem;
      }

      thead {
        tr {
          border-top: var(--tbl-border);
          border-bottom: var(--tbl-border);
          th {
            font-weight: bold;
            color: var(--pr-clr-300);
            text-transform: capitalize;
            text-align: left;

            &:first-child {
              padding-inline-start: 0;
            }

            .dropdown-container {
              position: relative;
              width: min-content;
              margin-left: 0.5rem;
              display: inline-block;

              .filter-btn {
                width: 100%;
                cursor: pointer;
              }

              .dropdown {
                position: absolute;
                top: 3rem;
                left: 0;
                @include display-flex($dir: column, $y: flex-start);
                border: var(--dropdown-bdr);
                border-radius: 0.5rem;
                background-color: var(--ntrl-clr-100);
                overflow: hidden;
                z-index: 1;
                box-shadow: 4px 4px 16px hsl(0, 0%, 38%, 0.1);
                display: none;

                li {
                  width: 100%;

                  &:hover {
                    background-color: var(--transparent-gray);
                  }

                  &:not(:last-child) {
                    border-bottom: var(--dropdown-bdr);
                  }

                  button {
                    width: max-content;
                    font-size: 0.875rem;
                    font-weight: normal;
                    color: var(--ntrl-clr-300);
                    padding: 1rem;
                    margin: 0;
                    text-transform: capitalize;
                  }
                }
              }
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: var(--tbl-border);
          cursor: pointer;

          td {
            font-size: 0.875rem;
            padding: 1.5rem 0.75rem;

            &.patient-cell {
              &.id {
                font-size: 0.625rem;
                letter-spacing: normal;
                padding-inline-start: 0;
              }

              &.name-email {
                @include display-flex($dir: column, $y: flex-start);
                & > * {
                  width: 10rem;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
                .patient-name {
                  font-size: 1.2rem;
                  font-weight: 600;
                }
                .patient-email {
                  font-family: var(--ff-inter);
                  font-size: 0.875rem;
                  color: var(--charcoal-gray);
                }
              }
            }
          }
        }
      }
    }
  }
}
