@use '../../abstracts' as *;

.faqs-and-questions__page {
  width: 100%;
  @include display-flex($dir: column, $y: flex-start, $gap: 0.5rem);

  & > * {
    width: 100%;
    border-radius: 0.5rem;
  }

  .header {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--pr-clr-300);
    padding: 1.5rem;
    background-color: var(--ntrl-clr-100);
  }

  .accordion {
    @include display-flex($dir: column, $y: flex-start, $gap: 0.5rem);

    & > * {
      width: 100% !important;
    }

    details {
      @include display-flex($dir: column, $y: flex-start, $gap: 0.5rem);

      & > * {
        padding: 1.5rem;
        border-radius: 0.5rem;
        background-color: var(--ntrl-clr-100);
      }

      &[open] summary {
        font-weight: bold;
        color: var(--pr-clr-300);
      }

      summary {
        width: 100%;
        @include display-flex($x: space-between);
        font-size: 1rem;
        color: var(--ntrl-clr-300);
        text-transform: uppercase;
        cursor: pointer;
        transition: 200ms ease-in-out;

        &:hover {
          color: var(--pr-clr-300);
        }

        .arrow-angle {
          width: 1.0625rem;
          height: 1.0625rem;
        }
      }

      .content {
        font-size: 0.875rem;
        color: var(--ntrl-clr-300);
        margin-top: 0.5rem;
        transition: 200ms ease-in-out;
        line-height: 140%;
      }
    }
  }
}
