@use '../../abstracts' as *;
body.user-homepage {
  @include flex($y: flex-start);
  width: 100%;
  min-height: 100vh;
  background-color: var(--ntrl-clr-200);

  main {
    width: min(100% - 2rem, 80rem);
    margin-inline: auto;

    .navbar__user {
      @include display-flex($x: space-between);
      margin-bottom: 2rem;
      padding-block: 2rem;
      border-bottom: 1px solid hsl(0, 0%, 38%, 0.3);

      &-menu {
        @include display-flex($gap: 0.5rem, $dir: row-reverse);

        .menu__button {
          border-radius: 0.5rem;
          &:nth-child(1) {
            background-color: var(--ntrl-clr-300);
            &:hover {
              background-color: var(--ntrl-clr-400);
            }
          }
          &:nth-child(2) {
            background-color: var(--pr-clr-100);
            &:hover {
              background-color: var(--pr-clr-150);
            }
          }
          a {
            @include display-flex();
            color: var(--ntrl-clr-100);
            padding: 0.8rem 1rem;
          }
        }
      }
    }

    .hero {
      @include display-flex($dir: column, $gap: 1rem);
      padding-block-end: 2rem;
      border-bottom: 1px solid hsl(0, 0%, 38%, 0.3);

      h1 {
        font-size: clamp(2.45rem, 1.112rem + 5.7089vw, 6.25rem);
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -2px;
        color: transparent;
        line-height: 1;
        text-transform: uppercase;

        background-image: url(../../assets/images/mesh_bg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        -webkit-background-clip: text;
        background-clip: text;
      }

      &__details {
        width: 100%;
        @include display-flex($dir: column, $y: flex-start, $gap: 1rem);

        .contact__info {
          width: 100%;
          @include display-flex($gap: 0.625rem, $x: space-between);
          flex-wrap: wrap;
          color: var(--ntrl-clr-350);

          li:first-child {
            width: 100%;
            flex-grow: 1;
            font-weight: bold;
          }
        }

        .current__date {
          width: 100%;
          @include display-flex($gap: 10px);
          padding: 0.875rem 1rem;
          border-radius: 0.5rem;
          outline: 1px solid var(--ntrl-clr-300);

          font-size: clamp(1rem, 0.9472rem + 0.2254vw, 1.15rem);
          font-weight: 300;
          color: var(--ntrl-clr-300);
        }
      }
    }

    // section
    .about {
      @include display-flex($x: space-between, $dir: column, $gap: 2rem);
      padding-block: 2rem;

      &__intro {
        position: relative;
        width: 100%;
        height: 50vh;
        border-radius: 0.5rem;
        background-image: url(../../assets/smile-hero-img.jpg);
        background-repeat: no-repeat;
        background-position: center;

        & > * {
          width: 19.5rem;
          width: min(100% - 2rem, 30rem);
          position: absolute;
          left: 1rem;
          right: 1rem;
          padding: 0.875rem 1rem;
          font-size: clamp(0.85rem, 0.7532rem + 0.4131vw, 1.125rem);
          color: var(--ntrl-clr-350);
          line-height: 1.5;
          border-radius: 0.5rem;
          background-color: hsl(0, 0%, 100%, 0.7);
          backdrop-filter: blur(4px);
        }

        #aboutTitle {
          top: 1rem;
          text-align: center;
        }

        .sub-header {
          bottom: 1rem;
        }
      }

      .services {
        width: 100%;

        #servicesTitle {
          width: 100%;
          padding: 1rem;
          font-size: clamp(2.45rem, 1.9482rem + 2.1408vw, 3.875rem);
          font-weight: 900;
          color: var(--ntrl-clr-200);
          letter-spacing: -1px;
          text-align: center;
          text-transform: uppercase;
          border-radius: 0.5rem;
          background-color: var(--ntrl-clr-300);
          margin-bottom: 2rem;
        }

        &__list {
          @include display-flex($y: flex-start, $dir: column, $gap: 1.125rem);
          padding-bottom: 2rem;
          margin-bottom: 2rem;
          border-bottom: 1px solid hsl(0, 0%, 38%, 0.3);

          li {
            @include display-flex($gap: 1rem, $x: flex-start);
          }
        }

        .appointment__button {
          @include display-flex($x: space-between);
          padding: 0.875rem 1rem;
          font-size: clamp(1.25rem, 0.6998rem + 2.3474vw, 2.8125rem);
          font-weight: 900;
          color: var(--ntrl-clr-200);
          text-transform: uppercase;
          letter-spacing: -1px;
          line-height: 1;
          border-radius: 0.5rem;
          background-color: var(--pr-clr-100);
          &:hover {
            background-color: var(--pr-clr-150);
          }
        }
      }
    }
  }
}

// 750px
@media screen and (min-width: 46.875rem) {
  body.user-homepage {
    main {
      .hero {
        flex-direction: row;

        h1 {
          letter-spacing: -6px;
          line-height: 0.85;
        }

        &__details {
          width: 32rem;
        }
      }
    }
  }
}

// 900
@media screen and (min-width: 56.25rem) {
  body.user-homepage {
    main {
      .hero {
        gap: 8rem;
        h1 {
          letter-spacing: -6px;
          line-height: 0.85;
        }
      }
    }
  }
}

// 1024px
@media screen and (min-width: 64rem) {
  body.user-homepage {
    main {
      .about {
        flex-direction: row;

        &__intro {
          height: 32.5rem;

          & > * {
            width: initial;
          }
        }
      }
    }
  }
}
